@import 'variables.scss';
@import 'general.scss';
@import 'header.scss';
@import 'pricing.scss';
@import 'news.scss';
@import 'page-app.scss';
@import 'footer.scss';

/*Artist page*/

@import 'header-artist.scss';
@import 'popular-track.scss';
@import 'page-discography.scss';