.header-artist-background {
    height: 713px;
    padding: 200px 120px;
    
    &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 713px;

    z-index: -1;

    background-image: url('../images/artist/Morten\ Harket\ 1.png');
    background-position: center;
    background-size: cover;

    content: " ";
    }
}

.image-btn {
    margin-right: 16px;
}

.artist-header {

    & .artist-header-title {
        margin-top: 50px;
        text-align: start;
    }

    & .artist-header-description {
        margin-top: 16px;
        margin-bottom: 48px;
        text-align: start;
    }

    & .btn-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1.5rem;

        & .btn {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 200px;
            height: 62px;
            padding: 20px 30px;
            border: none;

            cursor: pointer;
        }

        & .btn-header-description {
            @include uppercase;

            font-size: 12.8px; 
            line-height: 150%;
            color: $white;
        }

        & .btn-purple {
            background-color: $purple;
        }

        & .btn-red {
            background-color: $red;
        }

    }

}

/*Mobile version*/

@media (max-width: 768px) {
    .artist-header {

        & .btn-section {
            flex-direction: column;
        }

    }

}

@media (max-width: 576px) {
    .header-artist-background {
        padding-left: 20px;
        padding-right: 20px;

        height: 730px;

        &::before {
            height: 730px;
        }
    }

    .artist-header {

        & .artist-header-title {
            margin-top: 25px;
        }
    }

    .navigation-items {
        & li {
            width: 100px;
        }
    }

    .navigation-item-title {
        margin-right: 0;
    }
}