.page-app {
    @include flex-center;
    padding: 100px 0;
}

#page-app {
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
}

.page-app-title {
    margin-bottom: 48px;
}

.page-app-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1 1 1200px;
    flex-wrap: nowrap;
}

.page-app-items {
    margin-right: 144px;
}

.page-app-description {
    max-width: 600px;
    text-align: start;
    margin-bottom: 16px;
}

.btn-download {
    display: block;
    padding: 16px 40px;
    width: 131px;
    height: 53px;
    background: $red;
    border: none;
    border-radius: 32px;

    text-align: center;
    font-size: 12.8px;
    color: $white;
}

.page-app-image {
    width: 333px;
    height: 278px;
}

/*Mobile version*/
@media (max-width: 1050px) {
    .page-app-wrapper {
        flex-direction: column-reverse;
    }

    .page-app-image {
        align-self: center;
    }

    .page-app-description {
        max-width: 100%;
    }

    .page-app-items {
        margin: 0;
    }


}

@media (max-width: 768px) {
    #page-app {
        margin-left: 20px;
        margin-right: 20px;
    }

    .page-app-image {
        margin-bottom: 16px;
    }
}    