.page-similar {
    @include flex-center;
}

#page-similar {
    width: 1200px;

    padding-top: 100px;
    padding-left: 20px;
}

.grid-4 {

    padding-right: 20px;

    & .similar-item {
        grid-area: "album";

        text-align: center;
        color: $white;

        & .similar-info {
            width: 250px;
            margin-top: 16px;

            & .similar-name {
            font-size: 18px;
            line-height: 27px;
            font-weight: 700;
        }
        

        & .similar-followers {
            font-size: 16px;
            line-height: 150%;
        }
        }
    }
}

/*Mobile version*/
@media (max-width: 1240px) {
    #page-similar {
        padding-left: 20px;
        padding-right: 20px;
    }

}
@media (max-width: 576px) {
    .similar-item {
        width: 137px;
        
        & .discography-album {
            width: 137px;
            height: 137px;

            margin-bottom: 16px;
        }
    }
}