@mixin pricing($pricing-value) {
    margin-top: 200px;
    line-height: 1em;

    &::before {
        font-size: 64px;
        line-height: 100%;
        color: $white;

        content: "#{$pricing-value}";
    }
}

@mixin pricing-footer($pricing-footer) {
    text-align: center;

    &::before {
        font-size: 12.8px;
        line-height: 150%; 
        color: $white;

        content: "#{$pricing-footer}";
    }    
}

.pricing-value-first {
    @include pricing("0")
}

.pricing-footer-first {
    @include pricing-footer("Оплата в месяц. Бесплатный тариф предоставляет доступ ко всей коллекции музыки. Присутствует реклама")
}

.pricing-value-second {
    @include pricing("250")
}

.pricing-footer-second {
    @include pricing-footer("Оплата в месяц. Стандартный тариф предоставляет доступ ко всей коллекции музыки в среднем качестве")
}

.pricing-value-third {
    @include pricing("500")
}
.pricing-footer-third {
    @include pricing-footer("Оплата в месяц. Премиум тариф предоставляет доступ ко всей коллекции музыки в высоком качестве")
}

/*Pricing Section*/

#page-pricing {
    @include flex-center;

    padding-top: 100px;
}

.pricing-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.pricing-item {
    @include flex-column-center;

    width: 370px;
    height: 615px;
    margin-right: 50px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.pricing-item:nth-child(3){
    margin-right: 0;
}

@mixin card-background {
    position: relative;

    &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 750px;

    z-index: -1;
    border-radius: 1rem;

    background-position: center;
    background-size: cover;

    content: " ";
    }
}

.bg-free {
    @include card-background;

    &::before {
    background-image: url('../images/Free\ Bg.png');
    }
}

.bg-standart {
    @include card-background;

    &::before {
    background-image: url('../images/Standart\ Bg.png');
    }
}

.bg-premium {
    @include card-background;

    &::before {
    background-image: url('../images/Premium\ Bg.png');
    }
}

.pricing-section-title {
    text-align: center;
    margin-bottom: 45px;
}

.pricing-section-description {
    margin-top: 43px;
}

.pricing-item-title {
    @include uppercase;

    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: $white;
}

.pricing-value {
    display: flex;
    justify-content: flex-start;
}

.money-value {
    @include uppercase;

    font-size: 32px;
    line-height: 150%;
    color: $white;
    margin-left: 16px;
}

.apply-btn {
    @include uppercase;

    width: 319px;
    height: 66px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;

    margin-top: 40px;
    margin-bottom: 64px;
    padding-top: 21px;
    padding-bottom: 21px;
}

/*Laptop version*/ 

@media (max-width: 1240px) {
    .pricing-items {
        flex-wrap: wrap;
    }

    .pricing-item {
        margin-bottom: 28px;
    }

    .pricing-item:nth-child(3) {
        margin-bottom: 0;
    }
}

/*Mobile version*/

@media (max-width: 1050px) {

    .pricing-items {
        @include flex-column-center;
    }

    .pricing-item {
        margin-right: 0;
    }

    .apply-btn {
        width: 100%;
    }
}

@media (max-width: 576px) {

    #page-pricing {
        margin-right: 20px;
        margin-left: 20px;
    }

    .pricing-item {
        width: 100%;
        max-width: 370px;
    }
}