@mixin pricing {
    line-height: 1em;
    font-size: 64px;
    line-height: 100%;
    color: $white;
}

@mixin pricing-footer {
    text-align: center;
    font-size: 12.8px;
    line-height: 150%; 
    color: $white;

    margin-bottom: 64px;
    height: 57px;
}

.pricing-value {
    @include pricing;
}

.pricing-footer {
    @include pricing-footer;
}

/*Pricing Section*/

.page-pricing {
    @include flex-center;
}

#page-pricing {
    width: 1240px;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.pricing-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 50px;
    padding-left: 20px;
    padding-right: 20px
}

.pricing-item {
   display: flex;
   flex-direction: column;
   align-items: center;

    width: 370px;
    height: 615px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.pricing-item:nth-child(3){
    margin-right: 0;
}

/*

@mixin card-background {
    position: relative;

    &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 750px;

    z-index: -1;
    border-radius: 1rem;

    background-position: center;
    background-size: cover;

    content: " ";
    }
}

.bg-free {
    @include card-background;

    &::before {
    background-image: url('../images/Free\ Bg.png');
    }
}

.bg-standart {
    @include card-background;

    &::before {
    background-image: url('../images/Standart\ Bg.png');
    }
}

.bg-premium {
    @include card-background;

    &::before {
    background-image: url('../images/Premium\ Bg.png');
    }
}
*/

.pricing-section-title {
    text-align: center;
    margin-bottom: 45px;
}

.pricing-section-description {
    margin-top: 43px;
}

.pricing-item-title {
    @include uppercase;

    margin-top: 24px;
    margin-bottom: 200px;

    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: $white;

    align-self: stretch;
    text-align: center;
}

.pricing-value {
    display: flex;
    justify-content: center;

    align-self: stretch;
    text-align: center;
}

.money-value {
    @include uppercase;

    font-size: 32px;
    line-height: 150%;
    color: $white;
    margin-left: 16px;
}

.apply-btn {
    @include uppercase;

    width: 319px;
    height: 66px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;

    margin-top: 40px;
    margin-bottom: 64px;
    padding-top: 21px;
    padding-bottom: 21px;
}

/*Laptop version*/ 

@media (max-width: 1240px) {
    .pricing-items {
        flex-wrap: wrap;
    }

    .pricing-item:nth-child(3) {
        margin-bottom: 0;
    }
}

/*Mobile version*/

@media (max-width: 1050px) {

    .pricing-items {
        @include flex-column-center;

        padding-left: 0;
        padding-right: 0;
    }

    .pricing-item {
        margin-right: 0;
    }

    .apply-btn {
        width: 100%;
    }
}

@media (max-width: 576px) {

    .pricing-item {
        width: 100%;
        max-width: 370px;
    }

    .pricing-item-title {
        font-size: 16px;
        line-height: 24px;
    }
}